<mat-toolbar  class="header">
  <span id="main">Leaderboard</span>
  <span class="fill"></span>
  <span id="refresh"><button mat-stroked-button (click)="refreshLeaderboard()">Refresh</button></span>
</mat-toolbar>


<div class="container">
  <!--
  <mat-list>
    <mat-list-item *ngFor="let team of teams; let i = index">
      {{i+1}}) <div class="teamname"> {{team.teamname}} </div>
      <div class="teamdetails">
       {{team.gold}}
      </div>
    </mat-list-item>
  </mat-list>
  -->
  <table id="leaderBoard">
    <tr>
      <th id="leftTop">Rank</th> 
      <th>Team Name</th> 
      <th id="rightTop">xp</th>
    </tr>
    <tr *ngFor="let team of teams; let i = index">
      <td>{{i+1}}</td>
      <td> {{team.teamname}}</td>
      <td> {{team.gold+team.food+team.military }}</td>
    </tr>
  </table>
</div>
