.fill {
  flex: 1 1 auto;
}


.teamname {
  font-weight: 200;
  font-size: 16px;
  margin-left: 10px;
}

.teamdetails {
  font-size: 12px;
  margin-left: 10px;
}

mat-list {
  overflow: auto;
  height: 400px;
  margin: 2px;
}

mat-toolbar {
  border-radius: 10px 10px 0px 0px;
}

button {
  border-radius: 20px;
}

table {
  width: 100%;
  font-family:  Arial, Helvetica, sans-serif;
}

table, th, td {
  border: 1px solid rgb(141, 141, 141);
  border-collapse: collapse;
  padding: 5px;
}
