<mat-card class="container">
  <mat-card-title>Trade</mat-card-title>

  <mat-form-field appearance="outline">
    <mat-label>From Teamname</mat-label>
    <input matInput type="text" [(ngModel)]="from"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>To Teamname</mat-label>
    <input matInput type="text" [(ngModel)]="to"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Gold</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="gold"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Food</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="food"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Military</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="military"/>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="trade()">Trade</button>
</mat-card>
