<mat-card class="container">
  <mat-card-title>Trade</mat-card-title>

  <mat-form-field appearance="outline">
    <mat-label>From Teamname</mat-label>
    <input matInput type="text" [(ngModel)]="from"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>To Teamname</mat-label>
    <input matInput type="text" [(ngModel)]="to"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Gold</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="gold"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Agriculture</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="agriculture"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>infantry</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="infantry"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>cavalry</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="cavalry"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>siege</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="siege"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>technology</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="technology"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>finance</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="finance"/>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>industry</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="industry"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>transport</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="transport"/>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="trade()">Trade</button>
</mat-card>
