<div>
  <p>Total number of registerd users: {{usersCount}} </p>
  <p>Total number of registerd teams: {{teamsCount}}</p>
  <p>Total number of teams invested: {{investedCount}}</p>
  <button mat-stroked-button color="warn" (click)="deleteAllUsers()">Delete All Users</button>
  <button mat-stroked-button color="warn" (click)="deleteAllTeams()">Delete All Teams</button>
  <button mat-stroked-button color="warn" (click)="deleteTeam()">Delete A Team</button>
</div>

<mat-card class="card .mat-elevation-z0">
  <mat-card-title>Current Storyline</mat-card-title>
  {{currentStoryline}}
  <br><br>
</mat-card>
