<div class="login-card" *ngIf="!loggedIn">

  <mat-card>
    <mat-card-title>Admin Login</mat-card-title>
    <br>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" />
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="text" [(ngModel)]="password" />
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="onLogin()" >Login</button>
  </mat-card>

</div>

<div *ngIf="loggedIn" class="container">

  <mat-toolbar color="primary">
    <span>Kingsroad Admin</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>
      <button mat-button (click)="component = 'home'">Home</button>
    </span>

    <span>
      <button mat-button (click)="component = 'storyline'">Storyline</button>
    </span>

    <span>
      <button mat-button (click)="component = 'trade'">Trade</button>
    </span>

    <span>
      <button mat-button (click)="component = 'leaderboard'">Leaderboard</button>
    </span>

    <span>
      <button mat-button (click)="onLogout()">Logout</button>
    </span>
  </mat-toolbar>

  <mat-card *ngIf="component === 'leaderboard'" class="card .mat-elevation-z0">
    <app-leaderboard></app-leaderboard>
  </mat-card>

  <mat-card *ngIf="component ==='home'" class="card .mat-elevation-z0">
    <app-control-panel></app-control-panel>
    <button mat-stroked-button color="primary" (click)="component = 'storyline'" >Change Storyline</button>
  </mat-card>

  <mat-card *ngIf="component ==='storyline'" class="card .mat-elevation-z0">
    <app-storyline></app-storyline>
  </mat-card>

  <mat-card *ngIf="component ==='trade'" class="card .mat-elevation-z0">
    <app-trade></app-trade>
  </mat-card>
</div>

