<div class="login-card" *ngIf="!loggedIn">

  <mat-card>
    <mat-card-title>Admin Login</mat-card-title>
    <br>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" />
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="text" [(ngModel)]="password" />
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="onLogin()" >Login</button>
  </mat-card>

</div>

<div *ngIf="loggedIn" class="container">

    <mat-toolbar color="primary">
      <span>Kingsroad Admin</span>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <span class="small-screen">
        <button mat-button (click)="onLogout()">Logout</button>
      </span>
    </mat-toolbar>

  <div>
    Total number of registerd users: {{usersCount}}
    <button mat-button (click)="deleteAllUsers()">Delete All Users</button>
  </div>

  <mat-card class="card .mat-elevation-z0">
    <app-leaderboard></app-leaderboard>
  </mat-card>

  <mat-card class="card .mat-elevation-z0">
    <app-trade></app-trade>
  </mat-card>

  <mat-card class="card .mat-elevation-z0">
    <app-control-panel></app-control-panel>
  </mat-card>
</div>

