<mat-card>
  <mat-card-title>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cum eaque cumque, ex itaque unde ducimus saepe molestiae. Quisquam veritatis velit at sed! Ipsam libero harum nostrum ab eaque ea.</mat-card-title>
  <mat-form-field class="text-form" appearance="outline">
    <mat-label>
      Question
    </mat-label>
    <textarea matInput [(ngModel)]="question"></textarea>
  </mat-form-field>
  <p>Return Ratio:</p>
  <mat-form-field appearance="outline">
    <mat-label>Food</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="food_ratio"/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Military</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="military_ratio"/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Research</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="research_ratio"/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Gold</mat-label>
    <input matInput type="number" min="0" max="1" step="0.01" [(ngModel)]="gold_ratio"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="saveStoryline()">Save</button>
</mat-card>


<mat-card *ngFor="let story of storylines; let i = index">
  <p>{{story.question}}</p>
  <p>Interest rates:
    Food {{story.food_rate}},
    Military {{story.military_rate}},
    Research {{story.research_rate}},
    Gold {{story.gold_rate}} </p>
  <mat-card-actions>
    <button mat-stroked-button class="action-button" (click)="setCurrentStoryline(i)">Set Current Storyline</button>
    <button mat-stroked-button class="action-button" (click)="deleteStoryline(i)">Delete</button>
  </mat-card-actions>
</mat-card>
