<button mat-raised-button color="primary" *ngIf="!add_storyline" (click)="add_storyline = true">Add New Storyline</button>

<mat-card *ngIf="add_storyline">
  <mat-card-title>Add Storyline</mat-card-title>
  <mat-form-field class="text-form" appearance="outline">
    <mat-label>
      Question
    </mat-label>
    <textarea matInput [(ngModel)]="question"></textarea>
  </mat-form-field>
  <p>Interest Rate:</p>

  <mat-form-field appearance="outline">
    <mat-label>Agriculture</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="agriculture_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Infantry</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="infantry_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cavalry</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="cavalry_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Siege</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="siege_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Technology</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="technology_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Finance</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="finance_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Industry</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="industry_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transport</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="transport_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Research</mat-label>
    <input matInput type="number" min="0" step="0.01" [(ngModel)]="research_ratio"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gold</mat-label>
    <input matInput type="number" min="0" max="1" step="0.01" [(ngModel)]="gold_ratio"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="saveStoryline()">Save</button>
</mat-card>


<mat-card *ngFor="let story of storylines; let i = index">
  <p>{{story.question}}</p>
  <p>Interest rates:
    Agriculture {{story.agriculture_rate}},
    Infantry {{story.infantry_rate}},
    Cavalry {{story.cavalry_rate}},
    Siege {{story.siege_rate}},
    Technology {{story.technology_rate}},
    Finance {{story.finance_rate}},
    Industry {{story.industry_rate}},
    Transport {{story.transport_rate}},
    Research {{story.research_rate}},
    Gold {{story.gold_rate}} </p>
  <mat-card-actions>
    <button mat-stroked-button class="action-button" (click)="setCurrentStoryline(i)">Set Current Storyline</button>
    <button mat-stroked-button class="action-button" (click)="deleteStoryline(i)">Delete</button>
  </mat-card-actions>
</mat-card>
