h1, h3{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#Resources{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #3f51b5;
  text-align: center;
  background-color: #f2f2f2;
  border-style: solid white;
  border-width: 2px;
  border-radius: 14px;
}
.teamName{
  text-align: center;
}

#team{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
  text-align:center;
  margin-left: auto;
}
#team th{
  padding-top:12px;
  padding-bottom:12px;
  background-color:#3f51b5;
  color:white;
  border: 1px solid white;
  padding: 8px;
}
#team td{
  border: 1px solid white;
  padding: 8px;
}
#team tr{
  border: 1px solid #ddd;
}
#team tr:nth-child(even){background-color: #f2f2f2;}
#team tr:hover{
  background-color: #7681be;
  color:white;
}
table{
  margin:15px;
}
#team tr:last-child{
  border: 1px solid white;
}
#leftTop{
  border-top-left-radius: 20px;
}
#rightTop{
  border-top-right-radius: 20px;
}
#leftBottom{
  border-bottom-left-radius: 20px;
}
#rightBottom{
  border-bottom-right-radius: 20px;
}
