<mat-toolbar color="primary">
  <span>Kingsroad</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span class="small-screen">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="control = 'invest'">Invest</button>
      <button mat-menu-item (click)="control = 'storyline'">Storyline</button>
      <button mat-menu-item (click)="control = 'leaderboard'">Leaderboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </span>
  <span class="wide-screen">
    <button mat-button (click)="control = 'invest'">Invest</button>
    <button mat-button (click)="control = 'storyline'">Storyline</button>
    <button mat-button (click)="control = 'leaderboard'">Leaderboard</button>
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>

<div class="container" *ngIf="control === 'invest'">
  <app-invest></app-invest>
</div>

<div class="container" *ngIf="control === 'storyline'">
  <app-team-storyline></app-team-storyline>
</div>

<div class="container" *ngIf="control === 'leaderboard'">
    <app-leaderboard></app-leaderboard>
  </div>
