<mat-card class="invest-board .mat-elevation-z0" *ngIf="!invested">
  <mat-card-title id="invest">
    Invest
  </mat-card-title>
  <mat-card-content>
    <p class="points" id="avgold">Available Gold: {{gold}}</p>

    <mat-form-field appearance="outline">
      <mat-label id="input">Agriculture</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="agriculture_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Infantry</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="infantry_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Cavalry</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="cavalry_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Siege</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="siege_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Technology</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="technology_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Finance</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="finance_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Industry</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="industry_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label id="input">Transport</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="transport_invest"/>
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Research</mat-label>
      <mat-select [(value)]="research">
        <mat-option value="none">None</mat-option>
        <mat-option value="agriculture">Agriculture</mat-option>
        <mat-option value="infantry">infantry</mat-option>
        <mat-option value="cavalry">cavalry</mat-option>
        <mat-option value="siege">siege</mat-option>
        <mat-option value="technology">technology</mat-option>
        <mat-option value="finance">finance</mat-option>
        <mat-option value="industry">industry</mat-option>
        <mat-option value="transport">transport</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <div *ngIf="showError" class="error-message">
      {{error_message}}
    </div>

    <mat-card-actions >
      <button mat-raised-button color="primary" (click)="invest()">Invest</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0" *ngIf="invested">
  {{display_message}} <br><br>
  <button mat-stroked-button color="primary" (click)="refreshTeamDetails()">Refresh</button>
</mat-card>
