
.invest-board {
  margin: 15px auto;
}

.error-message {
  color: red;
}
mat-card-title{
  text-align: center;
  border-color: #3f51b5;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px
}
.points{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3f51b5;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 14px;
  font-size: large;
  text-align: center;
}
#id{
  text-align: center;
}
mat-card-actions{
  margin-left: 0;
}