<div class="background" style="background-repeat: round; background-image: url(../src/assets/kingsroad.jpg);">
  <img src="https://moodi.org/images/logo.png" style="width: 17%;margin: 2%;">
</div>
<mat-card class="login-container">
  <mat-card-title>Register</mat-card-title>
  <br>
  <mat-card-content>

  <form #form="ngForm">
    <mat-form-field appearance="outline">
    <mat-label>MI Number</mat-label>
    <input
      matInput
      type="text"
      name="mi_number"
      [(ngModel)]="mi_number">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        name="con_password"
        [(ngModel)]="con_password">
    </mat-form-field>

    <div class="error-message" *ngIf="showError">
      {{errorText}}
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="onRegister()"
      type="submit">Register</button>
    <button
      mat-button
      routerLink = ""
      type="button">Login</button>
  </form>
  </mat-card-content>
</mat-card>
